<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>memberServlet</servlet-name>
        <servlet-class>servlets.memberServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>servlets.loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutServlet</servlet-name>
        <servlet-class>servlets.logoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>profileServlet</servlet-name>
        <servlet-class>servlets.profileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateServlet</servlet-name>
        <servlet-class>servlets.updateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userlistServlet</servlet-name>
        <servlet-class>servlets.userlistServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminServlet</servlet-name>
        <servlet-class>servlets.adminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>entryServlet</servlet-name>
        <servlet-class>servlets.entryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getInitServlet</servlet-name>
        <servlet-class>servlets.getInitServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VoteServlet</servlet-name>
        <servlet-class>servlets.VoteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddDelegator</servlet-name>
        <servlet-class>servlets.AddDelegator</servlet-class>
        <servlet-name>getActiveUsersServlet</servlet-name>
        <servlet-class>servlets.getActiveUsersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mappageServlet</servlet-name>
        <servlet-class>servlets.mappageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>memberServlet</servlet-name>
        <url-pattern>/memberServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutServlet</servlet-name>
        <url-pattern>/logoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>profileServlet</servlet-name>
        <url-pattern>/profileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateServlet</servlet-name>
        <url-pattern>/updateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userlistServlet</servlet-name>
        <url-pattern>/userlistServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminServlet</servlet-name>
        <url-pattern>/adminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>entryServlet</servlet-name>
        <url-pattern>/entryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getInitServlet</servlet-name>
        <url-pattern>/getInitServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VoteServlet</servlet-name>
        <url-pattern>/VoteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddDelegator</servlet-name>
        <url-pattern>/AddDelegator</url-pattern>
        <servlet-name>getActiveUsersServlet</servlet-name>
        <url-pattern>/getActiveUsersServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mappageServlet</servlet-name>
        <url-pattern>/mappageServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
